@media screen and (max-width: 768px) {
    header > div.container.d-flex{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 460px) {
        header .container{
            background-image:none;
        }
        header .logo{
            padding-bottom: 0;
        }
}